<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>InfoStretch.RestAssuredAPITEST.ApiTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Test17</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test18</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test19</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test24</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test20</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test21</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test22</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test23</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
