<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test1()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test1</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:03</td>   <td>2640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test10()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test10</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:03</td>   <td>2912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test11()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test11</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:03</td>   <td>3021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test12()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test12</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:03</td>   <td>3121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test13()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test13</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:04</td>   <td>3428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test14()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test14</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:04</td>   <td>3722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test15()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test15</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:04</td>   <td>3863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test16()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test16</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:04</td>   <td>4026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test17()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test17</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:05</td>   <td>4203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test18()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test18</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:05</td>   <td>5030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test19()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test19</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:05</td>   <td>5087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test2()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test2</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:06</td>   <td>5282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test20()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test20</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:06</td>   <td>5437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test21()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test21</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:06</td>   <td>5496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test22()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test22</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:06</td>   <td>5712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test23()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test23</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:06</td>   <td>5947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test24()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test24</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:06</td>   <td>5999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test3()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test3</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:09</td>   <td>8532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test4()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test4</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:09</td>   <td>9033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test5()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test5</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:10</td>   <td>9255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test6()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test6</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:10</td>   <td>9848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test7()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test7</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:11</td>   <td>10143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test8()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test8</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:11</td>   <td>10251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiTest.Test9()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">Test9</td> 
  <td>main@280744458</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/12/17 16:51:00</td>   <td>-528</td> <td>&nbsp;</td><td title="&gt;&gt;ApiTest.setBaseURI()[pri:0, instance:InfoStretch.RestAssuredAPITEST.ApiTest@7d907bac]">&gt;&gt;setBaseURI</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280744458</td>   <td></td> </tr>
</table>
